**/node_modules
**/bower_components
**/dist
**/build
**/tmp
**/logs
**/coverage
**/coverage.*
**/yarn-error.log
**/yarn-debug.log
**/yarn.lock
**/npm-debug.log
**/npmrc
**/bowerrc
**/gulpfile.js
**/gulpfile.coffee
**/Gruntfile.js
**/Gruntfile.coffee
**/package.json
**/package-lock.json
**/yarn.lock
**/yarn-error.log
**/yarn-debug.log
**/yarn.lock
**/yarn-error.log
**/yarn-debug.log
**/yarn.lock
**/yarn-error.log
**/yarn-debug.log
**/yarn.lock
**/yarn-error.log
**/yarn-debug.log
**/dist-electron
release
**/dist
.env
.env.*
**/.DS_Store
**/.vscode
**/.idea
**/package-lock.json
